# --- Base de données ---
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_URL=

MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_URL=

# --- URLs Publiques (Serveo) ---
# Front
FRONTEND_URL=
NGROK_TOKEN=
# Backend
API_URL=
# --- Monitoring ---
URL_WEBHOOK_DIDI=
AIRFLOW_PUBLIC_URL=
