POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_URL=

MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_URL=

FRONTEND_URL=https://synkos.mosaik-project.com
BACKEND_URL=https://api.mosaik-project.com
API_URL=https://api.mosaik-project.com

CLOUDFLARE_TUNNEL_TOKEN=

URL_WEBHOOK_DIDI=
AIRFLOW_PUBLIC_URL=
AIRFLOW_SECRET_KEY=

LLM_MODEL=mistral

PRICE_SCRAPE_DAYS_AHEAD=60
